Flow.JSON
[{"id":"5e75b85c.f6a4","type":"mqtt in","z":"90bf249.1f822d8","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"87c2f4e9.f065f8","nl":false,"rap":true,"rh":0,"x":370,"y":620,"wires":[["b877fa59.e9a988","9ef1130d.073868","f968e4f0.9e6a28"]]},{"id":"55f40bcb.28f9bc","type":"ui_chart","z":"90bf249.1f822d8","name":"","group":"2b94dec4.021412","order":0,"width":0,"height":0,"label":"Non ho idea di cosa sia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":580,"wires":[[]]},{"id":"1f6a808.020a28","type":"ui_toast","z":"90bf249.1f822d8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"notifica Acquedotto","x":1090,"y":680,"wires":[]},{"id":"b877fa59.e9a988","type":"function","z":"90bf249.1f822d8","name":"","func":"msg.payload.lat = 45\nmsg.payload.lon = 7\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":620,"wires":[["d946102e.a394c"]]},{"id":"d946102e.a394c","type":"debug","z":"90bf249.1f822d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":620,"wires":[]},{"id":"9ef1130d.073868","type":"function","z":"90bf249.1f822d8","name":"","func":"msg.payload = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[["55f40bcb.28f9bc"]]},{"id":"e65b9f29.a3a24","type":"ui_slider","z":"90bf249.1f822d8","name":"","label":"slider","tooltip":"","group":"2b94dec4.021412","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"40","step":1,"x":310,"y":760,"wires":[["bfc1abd2.adea48"]]},{"id":"bfc1abd2.adea48","type":"function","z":"90bf249.1f822d8","name":"","func":"flow.set(\"temp_limit\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":760,"wires":[[]]},{"id":"f968e4f0.9e6a28","type":"function","z":"90bf249.1f822d8","name":"","func":"\nif(msg.payload.temp > flow.get(\"temp_limit\")) return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":680,"wires":[["192f3fb0.766bc8"]]},{"id":"192f3fb0.766bc8","type":"function","z":"90bf249.1f822d8","name":"","func":"msg.topic = msg.payload.name\nmsg.payload = \"Temperatura dell'Acquedotto maggiore di \" + flow.get(\"temp_limit\") + \"\\n Temperatura attuale = \" + msg.payload.temp\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["1f6a808.020a28","d6f0404b.b16168"]]},{"id":"d6f0404b.b16168","type":"debug","z":"90bf249.1f822d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":760,"wires":[]},{"id":"87c2f4e9.f065f8","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b94dec4.021412","type":"ui_group","name":"Chart","tab":"efd05648.26f538","order":1,"disp":true,"width":"6","collapse":false},{"id":"efd05648.26f538","type":"ui_tab","name":"Chart con cose","icon":"dashboard","disabled":false,"hidden":false}]
